server:
  port: 8085

spring:

  main:
    web-application-type: reactive

  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: product_service_route
          uri: http://project-manager:8088
          predicates:
            - Path=/product/**
          filters:
            - StripPrefix=1

        - id: identity_service_route
          uri: http://identity-service:8087
          predicates:
            - Path=/identity/**
          filters:
            - StripPrefix=1

      globalcors:
      corsConfigurations:
      '[/**]':
       allowedOriginPatterns: "*"
       allowedMethods: "*"
       allowedHeaders: "*"
       allowCredentials: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${DUMMY_ISSUER:http://placeholder}

logging:
  level:
    root: INFO
    com.example.gateway: DEBUG

keycloak:
  base-url: http://keycloak-server:8080
  realm: master
  admin-username: admin
  admin-password: admin123
  client-id: admin-cli
