server:
  port: 8085

project:
  management:
    base-url: ${PROJECT_MANAGEMENT_BASE_URL}

spring:
  main:
    web-application-type: reactive

  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: product_service_route
          uri: ${PROJECT_MANAGEMENT_BASE_URL}
          predicates:
            - Path=/product/**
          filters:
            - StripPrefix=1

        - id: identity_service_route
          uri: http://identity-service:8087
          predicates:
            - Path=/identity/**
          filters:
            - StripPrefix=1



  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${DUMMY_ISSUER:http://placeholder}

logging:
  level:
    root: INFO
    com.example.gateway: DEBUG

